@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
:root{
  --cor-primaria: #304040;
  --cor2: #8C837B;
  --cor3: #BFB6AE;
  --cor4:#F2ECEB;
  --cor5: #262626;
  --letra-sub-titulo: "Big Shoulders Stencil", sans-serif;
  --letra-palavras: "Lora", serif;
  --letra-titulo: "Pacifico", cursive;
}
body{
  background: linear-gradient(to bottom left , var(--cor-primaria),var(--cor5));
}
#central{
  max-width: 930px;
  margin: auto auto;
  border: 1px solid var(--cor3);
  border-radius: 10px;
  background: linear-gradient(to top right , var(--cor2),var(--cor4));
}
h1{font-family: var(--letra-titulo);}
h2,h3,h4,h5,h6{font-family: var(--letra-sub-titulo);} p {font-family: var(--letra-palavras);}
.fundo_titulo{background-image: linear-gradient(to left, var(--cor-primaria),transparent);}
/*Configurações de coisas comuns menos o GIF central.*/
.comum{margin-left: 1em;margin-bottom: 1.5em;}
.linha_baixo{text-decoration: underline;}
#status{margin-bottom: 1em;}
/*Mexer no Gif central*/
#Gif_central{margin-right: 2em;}
/*Redes Sociais*/
.links_redes_sociais{text-decoration: none;margin-right: 5px;}
/*Imagem no Fim*/
#imagem_do_fim{height: 300px;width: 400px;}
/*Links*/
.links_para_cursos{text-decoration: none;color: black;} .links_para_cursos:hover{color:orangered;text-decoration: underline;}
.links_projetos_html,.links_projetos{text-decoration: none;color: rgb(30, 59, 2);} .links_projetos_html:hover,.links_projetos:hover{color:rgb(13, 13, 112);text-decoration: underline;}
@media only screen and (max-width: 739px) {
  #imagem_do_fim{
    height: 100px;width: 300px;
  }
  #status>img{height: 300px;width: 300px;margin-top: 0;margin-bottom: 3px;}
  svg{display: none;}
}