body{background: url("https://cdn.s.kittl.com/pr:sharp/rs:fit:720:720:0/plain/api/templates/Manga-Graphic-Design-Template-1721959464396.png@webp") no-repeat center fixed; 
    background-size: cover;
    width: 100%; /* Largura total da página */ 
    height: 100%;margin-bottom: 0; margin-top: 0;}
h1 , footer{color: blue;}
@media only screen and (max-width: 768px) {
    body{background: url("https://cdn.s.kittl.com/pr:sharp/rs:fit:720:720:0/plain/api/templates/Manga-Graphic-Design-Template-1721959464396.png@webp") no-repeat center fixed; 
    background-size: cover;
    width: 100%; /* Largura total da página */ 
    height: 100%;
    overflow: hidden;}
}
